
<!--footer starts from here-->
<footer class="footer">
<div class="container bottom_border">
<div class="row">
<div class=" col-sm-4 col-md col-sm-4  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
<!--headin5_amrc-->
<p class="mb10">Mphasis Limited</p>
<p class="mb10">Registered Office:</p>
<p class="mb10">Bagmane World Technology Centre,</p>
<p class="mb10">Marathahalli Outer Ring Road,Doddanakundi Village,</p>
<p class="mb10">Mahadevapura,Bangalore 560 048,India</p>





<p><i class="fa fa-phone"></i>  +91-8286140976  </p>
<p><i class="fa fa fa-envelope"></i> manishkumar.yadav@mphasis.com  </p>


</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
<li><a href="http://webenlance.com">About Us</a></li>
<li><a href="http://webenlance.com">Contact Us</a></li>
<li><a href="http://webenlance.com">Terms of Service</a></li>
<li><a href="http://webenlance.com">Privacy Policy</a></li>

</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2">Our Services</h5>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
<li><a href="http://webenlance.com">Booking With Train</a></li>
<li><a href="http://webenlance.com">Booking With Bus</a></li>
<li><a href="http://webenlance.com">Booking With Flight</a></li>
<li><a href="http://webenlance.com">Selecting the Packages</a></li>

</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
<!--headin5_amrc ends here-->

<ul class="footer_ul2_amrc">
<li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>You can Follow Us On Twitter...<a href="#">https://www.twitter\tours_and_travel.com/</a></p></li>
<li><a href="#"><i class="fab fa-facebook fleft padding-right"></i> </a><p>You can Follow Us On Facebook...<a href="#">https://www.facebook\tours_and_travel.com/</a></p></li>
<li><a href="#"><i class="fab fa-instagram fleft padding-right"></i> </a><p>You can Follow Us On Instagram...<a href="#">https://www.instagram\tours_and_travel.com/</a></p></li>
</ul>
<!--footer_ul2_amrc ends here-->
</div>
</div>
</div>


<div class="container">
<ul class="foote_bottom_ul_amrc">
<li><a href="http://webenlance.com">Home</a></li>
<li><a href="http://webenlance.com">About</a></li>
<li><a href="http://webenlance.com">Services</a></li>
<li><a href="http://webenlance.com">Pricing</a></li>
<li><a href="http://webenlance.com">Blog</a></li>
<li><a href="http://webenlance.com">Contact</a></li>
</ul>
<!--foote_bottom_ul_amrc ends here-->
<p class="text-center">Copyright @2021| Designed With by <a href="#">Mphasis Trainee</a></p>

<ul class="social_footer_ul">
<li><a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-twitter"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>
</ul>
<!--social_footer_ul ends here-->
</div>

</footer>


