<!-- <app-register-user></app-register-user> -->
<!-- <app-home></app-home> -->


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Travel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="book">Bus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="book">Flight</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="book">Train</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Package</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="book">Book</a>
                </li> -->
                <li class="nav-item" *ngIf="isActive()==true">
                    <a class="nav-link" [routerLink]="['history',currentUser.user_id]">Bookings</a>
                </li>
                <li class="nav-item" *ngIf="isActive()==true">
                    <a class="nav-link" [routerLink]="['feedback',currentUser.user_id]">Feedback</a>
                </li>
                <li class="nav-item" *ngIf="isActive()==true && isAdmin==true">
                    <a class="nav-link" href="#">View</a>
                </li>
            </ul>
            <span class="navbar-text mr-4" *ngIf="isActive()==true">
                {{currentUser.firstName | uppercase}}
                {{currentUser.lastName | uppercase}}
              </span>
            <form class="form-inline my-2 my-lg-0" *ngIf="isActive()==false">
                <a class="btn btn-outline-success my-2 my-sm-0" routerLink="login" >Login</a>
            </form>
            <form class="form-inline my-2 my-lg-0" (click)="logout()" *ngIf="isActive()==true">
                <a class="btn btn-outline-success my-2 my-sm-0" routerLink="login" >Logout</a>
            </form>
        </div>
    </nav>
    <router-outlet></router-outlet>
