<div class="login-page">
  <figure></figure>
  <figure></figure>
  <figure></figure>

  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">SignIn/SignUp</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Sign In">
        <mat-card-content>
          <!-- {{userForm.value | json}} -->
          <form #userForm="ngForm" (ngSubmit)="loginUser()">
            <mat-form-field>
              <input matInput placeholder="Email" name="email" [(ngModel)]="userLogin.email" required>
              <mat-error *ngIf="email.invalid">Email is required</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" minlength="6" name="password"
                [(ngModel)]="userLogin.password" required>
              <mat-error *ngIf="password.errors && password.errors.required">
                Password is required
              </mat-error>
              <mat-error *ngIf="password.errors && password.errors.minlength">
                Password must be of length 6
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <mat-checkbox>Remember Me!</mat-checkbox>
            <button mat-raised-button color="primary" class="login-button">
              Sign In
            </button>

          </form>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Sign Up" class="registration-tab">
        <mat-card-content>
          <!-- {{userModel | json}} -->
          <form #userForm="ngForm" (ngSubmit)="addUser()">
            <mat-form-field>
              <input matInput placeholder="First Name" required name="firstname" [(ngModel)]="userModel.firstName"
                #firstname="ngModel">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="firstname.invalid">
                First Name is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Last Name" required name="lastname" [(ngModel)]="userModel.lastName"
                #lastname="ngModel">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="lastname.invalid">
                Last Name is required
              </mat-error>
            </mat-form-field>


            <mat-form-field>
              <input matInput placeholder="Phone" required name="phone_no" [(ngModel)]="userModel.phoneno"
                #phone_no="ngModel">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-error *ngIf="phone_no.invalid">
                Phone is required</mat-error>
            </mat-form-field>
            <!-- <mat-form-field>
              <input matInput placeholder="Address" required name="address" ngModel #address="ngModel">
              <mat-icon matSuffix>home</mat-icon>
              <mat-error *ngIf="address.invalid">
                Address is required</mat-error>
            </mat-form-field> -->
            <mat-form-field>
              <input matInput placeholder="Email" required name="email" [(ngModel)]="userModel.email" #email="ngModel">
              <mat-error *ngIf="email.invalid">Email is required</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Password" type="password" required minlength="6" name="password"
                [(ngModel)]="userModel.password" #password="ngModel">
              <mat-error *ngIf="password.errors && password.errors.required">
                Password is required
              </mat-error>
              <mat-error *ngIf="password.errors && password.errors.minlength">
                Password must be of length 6
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>

            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Confirm Password" type="password" required minlength="6" name="repassword"
                ngModel #repassword="ngModel">
              <mat-error *ngIf="repassword.errors && repassword.errors.required">
                Re-Enter Password is required
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button mat-raised-button color="primary" class="login-button">
              Sign Up
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>